@import './slimselect.css';
@import './loader_style.css';


html,
body {
    height: 100%;
}

body {
    background: #d8f6f2da;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.loader-text {
   
display: flex;
align-items: center;
justify-content: center;

font-family: 'Montserrat', sans-serif;
font-size: 20px;
}

.cat-info-card {
    display: flex;
    width: 600px;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.header {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
font-weight: 700;
line-height: 1.6;
}

.image {
width: 500px;
margin-bottom: 20px;
border-radius: 10px;
text-align: center;

}

.description {
width: 500px;
padding: 10px;
}

.text {
font-family: 'Montserrat', sans-serif;
font-size: 16px;
font-weight: 300;
line-height: 1.2;
text-align: right;
}



